/* CSS definition file containing site stylesheet */
body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

table {
    width: 80%;
    margin: 5% 20%;
}

th {
    text-align: left;
